/src/classes/__pycache__/
/src/classes/class_tester.py
/src/classes/tester.py
/src/classes/ui_tester.py
/src/classes/__pycache__/*
/src/classes/test.py
/src/classes/saves/*
/src/classes/saves/
/src/classes/ui_tester.py
/src/window_test.ui
/src/window.ui

