/src/classes/__pycache__/
/src/classes/class_tester.py
/src/classes/tester.py
/src/classes/ui_tester.py
/src/classes/__pycache__/*
/src/classes/test.py
/src/classes/saves/*
/src/classes/saves/
/src/interface_exemple.ui~
/src/#interface_exemple.ui#
/src/interface.ui~
/src/#interface.ui#
/src/window_test.ui
/src/__pycache__/
/src/saves/
/.flatpak-builder*
/.repo*
/.build*
/.bundle*
